.profile__info {
  margin: 0;
  padding: 0;
  margin-left: 30px;
  max-width: 550px;
}

@media (max-width: 500px) {
  .profile__info {
    margin-left: 0;
    max-width: 100%;
  }
}

@media (min-width: 501px) and (max-width: 860px) {
  .profile__info {
    margin-left: 30px;
    max-width: calc(100% - 150px);
  }
}

@media (min-width: 861px) and (max-width: 917px) {
  .profile__info {
    margin-left: 30px;
    max-width: calc(100% - 319px);
  }
}
