.card__delete {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 100;
  top: 20px;
  right: 20px;
  background: 0;
  background-image: url(../../../images/delete_icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 18px;
  height: 19px;
  border: none;
  cursor: pointer;
  transition: opacity 100ms ease-in-out;
}

.card__delete:hover {
  opacity: .6;
}
