.profile {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

@media (max-width: 500px) {
  .profile {
    flex-direction: column;
    margin-top: 42px;
  }
}
