.form__input-error {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 36px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #f00;
  min-width: 358px;
  min-height: 30px;
}

@media (max-width: 500px) {
  .form__input-error {
    min-width: calc(100% - 44px);
    margin-left: 22px;
    margin-right: 22px;
  }
}
