.form__input {
  margin: 0;
  padding: 0;
  margin-left: 36px;
  padding-bottom: 9px;
  border: 0;
  border-bottom: 1px solid rgb(0, 0, 0, .2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  min-width: 358px;
  box-sizing: border-box;
}

@media (max-width: 500px) {
  .form__input {
    min-width: calc(100% - 44px);
    margin-left: 22px;
    margin-right: 22px;
  }
}
